@*Index.cshtml
    By: John Symborski
    Capstone Group 2
    About page for the web portal*@

@{
    ViewBag.Title = "About";
}
<h2 id="AboutTitle">@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
